{% extends 'main.html' %}

{% block main %}
<div class="parallax">
  <div >
<h1 class="iconic" amp-fx="parallax" data-parallax-factor="1.3">
  İzmir Escort
</h1>
<amp-img class="icon" width="20" height="20" layout="responsive" src="/static/menu-icon.svg"></amp-img>

</div>
<amp-img class="parimg" width="1366" height="768" layout="responsive" src="/static/woman.jpg"></amp-img>
</div>  
<div class="">
  

  <div class="card col-12">
    <div class="card-header">
      <h2>Header</h2>
    </div>
    <div class="card-header-pills">
      <div class="keywords">
      <a href="#"><span class="badge badge-pill bg-secondary">Secondary</span></a>
      </div>
    </div>
    <div class="card-body">
    
    </div>
  </div>
  <div class="card col-sm-12 col-lg-6">
    <div class="card-header">
      <h2>Header</h2>
    </div>
    <div class="card-header-pills">
      <div class="keywords">
      <a href="#"><span class="badge badge-pill bg-secondary">Secondary</span></a>
      </div>
    </div>
    <div class="card-body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum placerat orci leo, eget sagittis nibh dignissim non. Donec id enim sit amet sem ullamcorper eleifend sed at neque. Donec lobortis mollis laoreet. Donec mi orci, sagittis nec justo vel, aliquam hendrerit elit. Duis maximus cras amet.
    </div>
    <a href="#"  class="btn btn-outline-primary" >Devamı ..</a>
  </div>
  <div class="card col-sm-12 col-lg-6">
    <div class="card-header">
      <h2>Header</h2>
    </div>
    <div class="card-header-pills">
      <div class="keywords">
      <a href="#"><span class="badge badge-pill bg-secondary">Secondary</span></a>
      </div>
    </div>
    <div class="card-body">
    
    </div>
  </div>
</div>

{% endblock main %}
