{% extends "main.html" %}
{% block main %}
{% load static %}
<div id="isim">
    <h1>İzmir Escort {{e.name}}</h1>
  </div>
  <div id="galeri">
    {% for img in images %}
    <amp-carousel lightbox width="300" height="400" layout="responsive" type="slides">
      <amp-img src="{{img.img.url}}" width="300" height="400"
        layout="responsive"></amp-img>
        {% endfor %}
    </amp-carousel>
  </div>
  <div id="metin">
    {{text|safe}}
  </div>
  
  <a href="tel:0{{e.tel}}">
    <div id="tel" class="button">
    <div id="phone-icon">
      <amp-img src="{% static 'phone-icon.png' %}" width="100" height="100" layout="responsive" alt="telefon">
      </amp-img>
    </div>
    <div>TEK TIKLA ARA <br />
      <a href="tel:0{{e.tel}}" class="phone">{{e.tel}}</a>
    </div>



    </div>
  </a>
  <div id="divider"></div>
  <a href="https://wa.me/{{e.tel}}">
  <div id="wa" class="button">
    <div id="phone-icon">
      <amp-img src="{% static 'whatsapp-icon.png' %}" width="100" height="100" layout="responsive" alt="telefon">
      </amp-img>
    </div>
    <div>TEK TIKLA MESAJ AT <br />
      <a href="https://wa.me/{{e.tel}}" class="phone">{{e.tel}}</a>
    </div>
  </div>
</a>
 
<div class = "row">
  {% for e in escAll %}
  <div class="{% if e.rank == 1 %}col-6{% elif e.rank == 2 %}col-4{% elif e.rank == 3 %}col-3{% endif %} fancyborder {{ e.get_rank_display }}" > 
    <div class="wrap">
    
    <a href="/escort/{{e.id}}" >
        <amp-img src="{{e.images.first.img.url}}" width="100" height="150"
          layout="responsive" alt="" class="image">
        </amp-img>
    </a>
        <div class="name">{{ e.name }} {{ e.ilceler }} Escort</div>
    </div>   
  </div>
  {% endfor %}
</div>
{% endblock main %}