{% extends 'main.html' %}

{% block main %} 
<div class = "row">
{% for e in escg %}
<div class="{% if e.rank == 1 %}col-6{% elif e.rank == 2 %}col-4{% elif e.rank == 3 %}col-3{% endif %} fancyborder {{ e.get_rank_display }}" > 
    <div class="wrap">
    
    <a href="{{e.get_absolute_url}}" >
        <amp-img src="{{e.images.first.img.url}}" width="100" height="150"
          layout="responsive" alt="" class="image">
        </amp-img>
    </a>
        <div class="name">{{ e.name }} {{ e.ilceler }} Escort</div>
    </div>   
  </div>
{% endfor %}
</div>
<div class = "row">
  {% for e in escs %}
  <div class="{% if e.rank == 1 %}col-6{% elif e.rank == 2 %}col-4{% elif e.rank == 3 %}col-3{% endif %} fancyborder {{ e.get_rank_display }}" > 
      <div class="wrap">
      
      <a href="{{e.get_absolute_url}}" >
          <amp-img src="{{e.images.first.img.url}}" width="100" height="150"
            layout="responsive" alt="" class="image">
          </amp-img>
      </a>
          <div class="name">{{ e.name }} {{ e.ilceler }} Escort</div>
      </div>   
    </div>
  {% endfor %}
  </div>
  <div class = "row">
    {% for e in escb %}
    <div class="{% if e.rank == 1 %}col-6{% elif e.rank == 2 %}col-4{% elif e.rank == 3 %}col-3{% endif %} fancyborder {{ e.get_rank_display }}" > 
        <div class="wrap">
        
        <a href="{{e.get_absolute_url}}" >
            <amp-img src="{{e.images.first.img.url}}" width="100" height="150"
              layout="responsive" alt="" class="image">
            </amp-img>
        </a>
            <div class="name">{{ e.name }} {{ e.ilceler }} Escort</div>
        </div>   
      </div>
    {% endfor %}
  </div>
  
  <div id="articles" class="row">
    {%for blog in blogs%}
    <div class="card col-12">
    <div class="card-header">
      <h2>{{blog.title}}</h2>
    </div>
    <div class="card-header-pills">
      <div class="keywords">
        {% for key in blog.keywords.all %}
      <a href="https://iescort.cyou/{{key.slug}}"><span class="badge badge-pill bg-secondary">{{key.key}}</span></a>
        {% endfor %}
      </div>
    </div>
    <div class="card-body">
    {{blog.text|truncatewords_html:100|safe}}
    </div>
    <a href="{{blog.get_absolute_url}}"  class="btn btn-outline-primary" >Devamı ..</a>
  </div>
  {%endfor%}

 

     
{% endblock main %} 

 